<div class="girdle">

  <h5>{{t "help.help_and_support.sub_title_1"}}</h5>

  {{{t "help.help_and_support.tech_support.message"}}}

  <div class="table_like_container">

    <div class="table_like_row">
      <div><strong>{{t "help.help_and_support.tech_support.web"}}:</strong></div>
      <div><a href="https://alpinedatalabs.zendesk.com/home">https://alpinedatalabs.zendesk.com/home</a></div>
      <div>&nbsp;</div>
    </div>

    <div class="table_like_row">
      <div><strong>{{t "help.help_and_support.tech_support.email"}}:</strong></div>
      <div><a href="mailto:support@alpinenow.com">support@alpinenow.com</a></div>
      <div>{{t "help.help_and_support.tech_support.email_availability"}}</div>
    </div>

    <div class="table_like_row">
      <div><strong>{{t "help.help_and_support.tech_support.phone"}}:</strong></div>
      <div>(1) 650-918-6212</div>
      <div>{{t "help.help_and_support.tech_support.phone_availability"}}</div>
    </div>
  </div>

  <div style="padding: 5px;"></div>

  <a href="https://alpine.atlassian.net/wiki/display/V5/Technical+Support">
    <strong>{{t "help.help_and_support.tech_support.learn_more"}}</strong>
  </a>

  <div style="padding: 15px;"></div>

  <div class="messaging_block">
    <h5>{{t "help.help_and_support.sub_title_2"}}</h5>
    {{{t "help.help_and_support.logs_download_message"}}}
    <button class="download_logs modalish">{{t "help.help_and_support.button.download_logs"}}</button>
  </div>

</div>

<div id="dialog_bottom" class="form_controls">
  <button type="button" class="cancel modalish">{{t "actions.close"}}</button>
</div>