<div class="multiple_selection hidden"></div>
<div class="workspace_show_sidebar sidebar_content primary panel" data-template="workspace_show_sidebar">

  <div class="actions">
    <label>
      Team Actions
    </label>
    <ul>
      <% if controller.action_name == "index" %>
          <li><%= link_to "Create Team" , admin.new_team_path , :remote => true %></li>
          <li><a href="#" onclick="add_member();">Add Member</a> </li>
      <% end %>
      <% if controller.action_name == "show" %>
          <li>
            <%= link_to "Edit Team Information" , admin.edit_team_path(@team) , :remote => true %>
          </li>
          <li>
            <%= link_to "Manage Membership" , admin.manage_memberships_team_path(@team) , :remote => true %>
          </li>
          <li>
            <%= link_to "Manage Roles" , admin.manage_roles_team_path(@team) , :remote => true %>
          </li>
          <li>
            <%= link_to "Manage Scope Groups" , admin.manage_scopes_team_path(@team) , :remote => true %>
          </li>
          <li>
            <%= link_to "Manage Workspaces" , admin.manage_workspaces_team_path(@team) , :remote => true %>
          </li>
          <li>
            <a data-toggle="modal" href="#deleteTeam">Delete Team</a>
            <!-- <#%= link_to "Delete Team" , admin.team_path(@team), method: :destroy , :remote => true %> -->
          </li>
      <% end %>
    </ul>
  </div>


</div>



