<div class="box box-solid">
  <div class="box-header with-border">
    <h3 class="box-title">  </h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <dl>
      <% if @teams %>
          <dt>
            <%= link_to "Create Team" , admin.new_team_path , :remote => true %>
          </dt>
      <%end%>

      <% if @team %>
          <dt>
            <%= link_to "Edit Team Information" , admin.edit_team_path(@team) , :remote => true %>
          </dt>
          <dt>
            <%= link_to "Manage Membership" , admin.manage_memberships_team_path(@team) , :remote => true %>
          </dt>
          <dt>
            <%= link_to "Manage Roles" , admin.manage_roles_team_path(@team) , :remote => true %>
          </dt>
          <dt>
            <%= link_to "Manage Scope Groups" , admin.manage_scopes_team_path(@team) , :remote => true %>
          </dt>
          <dt>
            <%= link_to "Manage Workspaces" , admin.manage_workspaces_team_path(@team) , :remote => true %>
          </dt>

          <dt> <%= link_to "Delete Team" , admin.team_path(@team), method: :destroy , :remote => true %> </dt>
      <%end%>
    </dl>
  </div><!-- /.box-body -->
</div>


