<tr role="row" class="<%= get_row_class(team.id)%>">
  <td><%= check_box_tag 'user_id',  team.id %></td>
  <td class="sorting_1">
      <%= link_to "#{team.name}", admin.team_path(team) ,:remote => true %><br/>
      <%= team.description %>
  </td>
  <td><i class="fa fa-lg fa-users"></i>&nbsp;&nbsp;<%= team.users.size %> </td>
  <td><i class="fa fa-lg fa-comments"></i>&nbsp;&nbsp;<%= team.roles.size %> </td>
  <td><i class="fa fa-lg fa-eye"></i>&nbsp;&nbsp;<%= team.chorus_scopes.size %> </td>

</tr>

