<!-- ********** -->
<!-- worklet inputs panel -->

<div class="header">
    <div class="title">{{t "worklet.run.inputs.heading"}}</div>
</div>

<div class="worklet_parameters"></div>

<div class="fields">

    <div class="variables">
        <div class="module_content recent_workfiles_list">
            {{#each variables}}
                <div class="variable">
                    <div class="label">{{label}}</div>
                    <div class="description">{{description}}</div>
                    <div class="input">
                        {{#if integer}}
                            <input type="text" class="textInput" name="{{variableName}}" maxlength="256"/>
                        {{else}}
                        {{#if string}}
                            <input type="text" class="textInput" name="{{variableName}}" maxlength="256"/>
                        {{else}}
                        {{#if singleOption}}
                            <select class="worklet_select" name="{{variableName}}">
                                {{#each options}}
                                    <option name="{{this}}" value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        {{else}}
                        {{#if multipleOptions}}
                            <div class="checkboxes" name="{{variableName}}">
                                {{#each options}}
                                    <div>
                                        <input type="checkbox" name="{{this}}" value="{{this}}"/>
                                        <label for="{{this}}">{{this}}</label>
                                    </div>
                                {{/each}}
                            </div>
                        {{else}}
                        {{#if dateTimeCalendar}}
                        {{else}}
                        {{#if dateTimeRelative}}
                        {{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="spinner_div">
        <span class='loading_spinner'></span>Worklet is running
    </div>

    <div class="row form_controls">
        <button type="submit" class="submit modalish">{{t "worklet.run.inputs.submit.button"}}</button>
    </div>
</div>
