{{!-- worklet: run settings & outputs to display --}}

<div class="worklet_configuration_panel worklet_outputs_configuration">
    <div class="main_header">{{t "worklet.main.configure_worklet_title"}}</div>
    
    <div class="workflow_details">
        <h4>{{t "worklet.configure.settings.run_settings.heading"}}</h4>
        
        
        <b>{{t "worklet.configure.settings.run_as.label"}}</b>

        <div class="description_instructions">
            {{t "worklet.configure.settings.run_as.description"}}
        </div>
        

        {{#each runPersonas}}
        <div class="form_pair">
            <input type="radio" name="run_persona" id="run_as_{{this.run_persona}}" value="{{this.run_persona}}"{{#if this.selected}} checked{{/if}}>
            <label class="adjacent" for="run_as_{{this.run_persona}}">{{this.persona_run_statement}}</label>
        </div>
        {{/each}}

        {{!-- commented out until feature is ready at which point it should be included in the list above --}
        {{!--<input type="radio" name="run_persona" id="run_as_other" value="run_as_other"> --}}
        {{!--<label for="run_as_other">Run as...</label> --}}


        <h4>{{t "worklet.configure.settings.output.heading"}}</h4>
        <br>
        <b>{{t "worklet.configure.settings.output.label"}}</b>
        <br>
        <div class="description_instructions">
            {{t "worklet.configure.settings.output.description"}}
        </div>
        
        <div id="worklet_outputs">
            <div id="workfile_image_container">
                {{#each operators}}
                    <a href="#" class="visual_operator">
                        <div id="{{this.id}}" data-index="{{this.index}}" class="image_operator" style="left: {{this.left}}px; top: {{this.top}}px;"></div>
                    </a>
                {{/each}}
                <img class="workfile_image" src="{{workflowImageUrl}}" alt=""/>
                {!-- repeat under the image --}}
                {{#each operators}}
                    <a href="#" class="visual_operator_bottom">
                        <div id="{{this.id}}B" class="image_operator_bottom {{#if this.selected}}marked{{/if}}" style="left: {{this.bg_left}}px; top: {{this.bg_top}}px;"></div>
                    </a>
                {{/each}}
                
            </div>
        </div>
        
        
        {{#each operators}}
        <div class="form_pair">
            <input type="checkbox" class="checkbox_operator" id="{{this.id}}_checkbox" data-index="{{this.index}}"{{#if this.selected}} checked{{/if}}>
            <label class="adjacent" for="{{this.id}}_checkbox">{{this.name}}</label>
        </div>
        {{/each}}

    </div>
</div>