<div>
    <div class="worklet_title">
        <img src="{{iconUrl}}" class="icon" alt="{{t 'entity.worklet'}}"/>

        <div class="item_information">
            <h1 title="{{fileName}}">{{fileName}}</h1>
        </div>
    </div>

    <div class="worklet_menu">
        {{#if editing}}
            <button class="submit modalish save" data-event-type="save">{{t "form.button.save"}}</button>
        {{/if}}

        <button class="modalish close" data-event-type="close">{{t "form.button.close"}}</button>
        {{#unless editing}}
            <div class="token worklet_action_menu">
                <a class="label inactive actions_menu" href="#" title="action">
                    <span>{{t "worklet.workbench.header.actions.menu"}}<span class="fa fa-caret-down caret"></span></span>
                </a>
                <div class="menu hidden popup_worklets">
                    <ul>
                        {{#if published}}
                            <li class='underline' id="worklet_header_shareResultsLink">
                                <a href="#">
                                    {{t "worklet.dropdown.share_results"}}
                                </a>
                            </li>
                        {{/if}}

                        <li class='underline' id="worklet_header_saveReportLink">
                            <a href="#">
                                {{t "worklet.dropdown.save_report_html"}}
                            </a>
                        </li>
                        <li id="worklet_header_viewLogsLink">
                            <a href='#'>
                                {{t "worklet.dropdown.view_logs"}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        {{/unless}}

    
        {{#if editing}}
<!--         <div class="menu popup_worklet_menu hidden"> -->
<!--             <ul> -->
<!--             <li> -->
<!--             <a href="#" class="menu_item" data-event-type="menu item data"> -->
<!--                 Menu Item -->
<!--             </a> -->
<!--             </li> -->
<!--          </ul> -->
         {{/if}}
     
         </div>
    </div>
</div>