<div class="title">
    {{t "worklet.edit.inputs_sidebar.title"}}
</div>

<div class="worklet_parameters"></div>

{{#if noParameters}}
<!--   TODO fix this to be a shared empty message type -->
    <div class="no_parameters_notice">
        <span class="notice_icon fa fa-lg fa-exclamation-circle"></span>{{t "worklet.edit.inputs_sidebar.empty.message"}}
    </div>
{{/if}}

<div class="spinner_div">
    <span class="loading_spinner"></span>{{t "general.running"}}
</div>

<div class="row form_controls run_worklet">
    {{#if editState}}
        <button class="modalish submit test_worklet_button">{{t "worklet.workbench.mode.run"}}</button>
    {{/if}}

    {{#if runState}}
        <button class="modalish submit run_worklet_button">{{t "worklet.workbench.mode.run"}}</button>
    {{/if}}
</div>
{{#if runState}}
    <div class="row form_controls stop_worklet" style="padding-top: 20px; display: none;">
        <button type="submit" class="submit stop_worklet_button modalish">Stop Running Worklet</button>
    </div>
{{/if}}
