<!-- <form> -->
<div class="girdle">

    <div class='sub_header'>
        <div>{{t "worklet.dialog.workflow_worklets_using.title"}}</div>
    </div>

    <div id="content">
        <!-- <ul> -->
            {{#each associatedWorklets}}
<!-- 
                <li class="worklet_list_item">
                    <div class="worklet_usage_item">
                        <div class="image_container">
                            <img class="workspaceIconSmall" src="/workspaces/{{workspace.id}}/worklets/{{id}}/image/" alt=""/>
                        </div>
                        <div class="details">
                            <div>
                                <a class="workspace_link" href="/#workspaces/{{workspace.id}}/worklets/{{id}}/">{{fileName}}</a>
                            </div>
                            <div class="pair location">
                                {{description}}
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </li>
 -->
                
                <!-- <li class="worklet_list_item"> -->
                <div class="worklet_catalog_card">
                    <div class="worklet_card_avatar">
                        <a href="/#workspaces/{{workspace.id}}/worklets/{{id}}/"><img src="/workspaces/{{workspace.id}}/worklets/{{id}}/image/" alt=""></a>
                    </div>
        
                    <div class="worklet_card_content">
                            <div class="worklet_title">
                                <h3>{{fileName}}</h3>
                            </div>
                            {{#if description}}
                            <div class="worklet_description">
                                {{description}}
                            </div>
                            {{/if}}

                    </div>
                </div>
                <!-- </li>  -->


            {{/each}}
            
        <!-- </ul> -->
    </div>

</div>
{{!-- END girdle --}}

{{> closeWindowFormControls }}

<!-- </form> -->