<div class="worklet_outputs_configuration">
    <div class="main_header">{{t "worklet.main.configure_worklet_title"}}</div>
    <div class="workflow_details">
        <h4>{{t "worklet.configure.settings.run_settings.heading"}}</h4>
        <br>
        <b>{{t "worklet.configure.settings.run_as.label"}}</b>
        <br>
        <div class="description_instructions">
            {{t "worklet.configure.settings.run_as.description"}}
        </div>
        
        <br>

        {{#each runPersonas}}
            <input type="radio" name="run_persona" id="run_as_{{this.run_persona}}" value="{{this.run_persona}}"{{#if this.selected}} checked{{/if}}>
            <label for="run_as_{{this.run_persona}}">{{this.persona_run_statement}}</label><br>

        {{/each}}

        {{!-- <input type="radio" name="run_persona" id="run_as_other" value="run_as_other"> --}}
        {{!-- <label for="run_as_other">Run as...</label> --}}

        <h4>{{t "worklet.configure.settings.output.heading"}}</h4>
        <br>
        <b>{{t "worklet.configure.settings.output.label"}}</b>
        <br>
        <div class="description_instructions">
            {{t "worklet.configure.settings.output.description"}}
        </div>
        
        <div id="worklet_outputs">
            <div id="workfile_image_container">
                {{#each operators}}
                    <a href="#" class="visual_operator">
                        <div id="{{this.id}}" data-index="{{this.index}}" class="image_operator" style="left: {{this.left}}px; top: {{this.top}}px;"></div>
                    </a>
                {{/each}}
                <img class="workfile_image" src="{{workflowImageUrl}}" alt=""/>
                <!-- repeat under the image -->
                {{#each operators}}
                    <a href="#" class="visual_operator_bottom">
                        <div id="{{this.id}}B" class="image_operator_bottom {{#if this.selected}}marked{{/if}}" style="left: {{this.bg_left}}px; top: {{this.bg_top}}px;"></div>
                    </a>
                {{/each}}
                
            </div>
        </div>
        
        
        {{#each operators}}
            <input type="checkbox" class="checkbox_operator" id="{{this.id}}_checkbox" data-index="{{this.index}}"{{#if this.selected}} checked{{/if}}> {{this.name}}<br>
        {{/each}}

        <!--<hr>-->
        <!--<div class="spinner_div">-->
        <!--<span class='loading_spinner'></span>Updating...-->
        <!--</div>-->
        <!--<div class="row form_controls">-->
        <!--<button type="submit" class="modalish update_details">Update</button>-->
        <!--</div>-->
    </div>
</div>