<div class="worklet_inputs_configuration">
    <div class="main_header">{{t "worklet.main.configure_worklet_title"}}</div>

    <b>
      {{t "worklet.main.step_worklet_inputs"}}
    </b>
    <br>

    <div class="description_instructions">
        {{t "worklet.main.step_worklet_inputs_description"}}
    </div>

    <br>
    <div class="workflow_details">
        <div class="errors"></div>

        {{#each workletParams}}
        <div class="worklet_param">
            <div class="section_header">
                {{t "worklet.configure.inputs.inputs_number_heading"}} {{@index}}
                <div class="section_controls">
                    <a href="#" class="delete_input_param" data-index="{{@index}}">
                        <span class="fa fa-trash" id="primary-data"></span>
                    </a>
                </div>
                <!--<button type="submit" class="delete_input_param" data-index="{{@index}}">Delete</button>-->
            </div>
            <div class="input_section">
               
               <div class="form_pair">
                   <label for="variable_name_{{@index}}">
                      {{t "worklet.configure.inputs.workflow_variable"}}
                   </label>
                    <select id="variable_name_{{@index}}" name="variable_name_{{@index}}" data-index="{{@index}}" class="workflow_variable">
                        {{#each ../workflowVariables}}
                            <option value="{{this.variableName}}" {{selectedIfMatch this.variableName ../this.variableName}}>{{this.variableName}}</option>
                        {{/each}}
                    </select>
                </div>

                <!-- <br> -->

                <div class="form_pair">
                    <input type="checkbox" id="use_default_{{@index}}" name="use_default_{{@index}}" data-index="{{@index}}" value="true"{{#if this.useDefault}} checked{{/if}}>
                    <label class="adjacent" for="use_default_{{@index}}">{{t "worklet.configure.inputs.use_existing"}}</label>
                </div>
                
                <div class="form_pair">
                    <input type="checkbox" id="required_{{@index}}" name="required_{{@index}}" data-index="{{@index}}" value="true" {{#if this.required}} checked{{/if}}>
                    <label class="adjacent" for="required_{{@index}}">{{t "worklet.configure.inputs.required_field"}}</label>
                </div>

                <br>

                <div class="form_pair">
                    <label for="label_{{@index}}" class="required">{{t "worklet.configure.inputs.field_label"}}</label>
                    <input type="text" id="label_{{@index}}" name="label_{{@index}}" data-index="{{@index}}" value="{{label}}">
                </div>
                
                <div class="form_pair">
                    <label for="description_{{@index}}">{{t "worklet.configure.inputs.field_description"}}</label>
                    <textarea id="description_{{@index}}" data-index="{{@index}}" name="description_{{@index}}">{{this.description}}</textarea>
                </div>

                <br>

                <div class="form_pair">
                    <label for="data_type_{{@index}}" class="required">{{t "worklet.edit.input.data_type.label"}}</label>
                    <select id="data_type_{{@index}}" name="data_type_{{@index}}" data-index="{{@index}}" class="workflow_variable">
                        <option value=""></option>
                        {{#each ../dataTypes}}
                            <option value="{{this}}" {{selectedIfMatch this ../this.dataType}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>

            </div>
            <div class="row form_controls">
                <button type="submit" class="modalish save_input_param" data-index="{{@index}}">{{t "worklet.configure.inputs.update_preview.button"}}</button>
            </div>
            <br>
        </div>
        <br><br>
        {{/each}}
        <hr>
        <button class="modalish add_new_parameter">{{t "worklet.configure.inputs.add_another_parameter.button"}}</button>
        <!--<button class="modalish save_all_parameters">Save Parameters</button>-->
    </div>
</div>