<div class="worklet_inputs_configuration">
    <div class="main_header">{{t "worklet.main.configure_worklet_title"}}</div>

    <b>
      {{t "worklet.main.step_worklet_inputs"}}
    </b>
    <br>

    <div class="description_instructions">
        {{t "worklet.main.step_worklet_inputs_description"}}
    </div>

    <br>
    <div class="workflow_details">
        <div class="errors"></div>

        {{#each workletParams}}
        <div class="worklet_param" data-index="{{@index}}">
            <div class="section_header">
                {{t "worklet.configure.inputs.inputs_number_heading"}} {{@index}}
                <div class="section_controls">
                    <a href="#" class="delete_input_param" data-index="{{@index}}"><span class="fa fa-lg fa-trash"></span></a>
                </div>
                <!--<button type="submit" class="delete_input_param" data-index="{{@index}}">Delete</button>-->
            </div>
            <div class="input_section">
               
               <div class="form_pair">
                   <label for="variable_name_{{@index}}">
                      {{t "worklet.configure.inputs.workflow_variable"}}
                   </label>
                    <select id="variable_name_{{@index}}" name="variable_name_{{@index}}" data-index="{{@index}}" class="workflow_variable">
                        {{#each ../workflowVariables}}
                            <option value="{{this.variableName}}" {{selectedIfMatch this.variableName ../this.variableName}}>{{this.variableName}}</option>
                        {{/each}}
                    </select>
                </div>

                <!-- <br> -->

                <div class="form_pair">
                    {{#if useDefaultDisabled}}
                        <input type="checkbox" id="use_default_{{@index}}" name="use_default_{{@index}}" data-index="{{@index}}" value="true" disabled>
                        <label class="adjacent disabled" for="use_default_{{@index}}">{{t "worklet.configure.inputs.use_existing"}}</label>
                    {{else}}
                        <input type="checkbox" id="use_default_{{@index}}" name="use_default_{{@index}}" data-index="{{@index}}" value="true"{{#if this.useDefault}} checked{{/if}}>
                        <label class="adjacent" for="use_default_{{@index}}">{{t "worklet.configure.inputs.use_existing"}}</label>
                    {{/if}}
                </div>
                
                <div class="form_pair">
                    <input type="checkbox" id="required_{{@index}}" name="required_{{@index}}" data-index="{{@index}}" value="true" {{#if this.required}} checked{{/if}}>
                    <label class="adjacent" for="required_{{@index}}">{{t "worklet.configure.inputs.required_field"}}</label>
                </div>

                <br>

                <div class="form_pair">
                    <label for="label_{{@index}}" class="required">{{t "worklet.configure.inputs.field_label"}}</label>
                    <input type="text" id="label_{{@index}}" name="label_{{@index}}" data-index="{{@index}}" value="{{label}}">
                </div>
                
                <div class="form_pair">
                    <label for="description_{{@index}}">{{t "worklet.configure.inputs.field_description"}}</label>
                    <textarea id="description_{{@index}}" data-index="{{@index}}" name="description_{{@index}}">{{this.description}}</textarea>
                </div>

                <br>

                <div class="form_pair">
                    <label for="data_type_{{@index}}" class="required">{{t "worklet.edit.input.data_type.label"}}</label>
                    <select id="data_type_{{@index}}" name="data_type_{{@index}}" data-index="{{@index}}" class="workflow_variable">
                        <option value=""></option>
                        {{#each ../dataTypes}}
                            <option value="{{this}}" {{selectedIfMatch this ../this.dataType}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>

                {{#if hasOptions}}
                    <br>
                    <div class="description_instructions">
                    {{t "worklet.configure.inputs.option_description"}}
                    </div>
                    <div class="option_edit">
                        <table>
                            <tr>
                                <th>#</th>
                                <th><div class="required">Option</div></th>
                                <th>Value</th>
                                <th></th>
                            </tr>
                            {{#each this.options}}
                                <tr>
                                    <td class="row_num_col">{{@index}}</td>
                                    <td class="option_input_col"><input type="text" name="option_{{@index}}_{{../this.displayIndex}}" data-index="{{../this.displayIndex}}" data-option-index="{{@index}}" value="{{this.option}}"></td>
                                    <td class="value_input_col"><input type="text" name="value_{{@index}}_{{../this.displayIndex}}" data-index="{{../this.displayIndex}}" data-option-index="{{@index}}" value="{{this.value}}"></td>
                                    <td class="delete_button_col"><a class="delete_parameter_option" data-index="{{../this.displayIndex}}" data-option-index="{{@index}}"><span class="delete_icon fa fa-lg fa-times-circle"></span></a></td>
                                </tr>
                            {{/each}}
                        </table>
                    </div>
                    <a class="add_parameter_option" href="#" data-index="{{@index}}"><span class="fa fa-lg fa-plus-circle"></span> {{t "worklet.configure.inputs.add_option"}}</a>
                {{/if}}
            </div>
            <div class="row form_controls">
                <button type="submit" class="modalish save_input_param" data-index="{{@index}}">{{t "worklet.configure.inputs.update_preview.button"}}</button>
            </div>
            <br>
        </div>
        <br><br>
        {{/each}}
        <hr>
        <button class="modalish add_new_parameter">{{t "worklet.configure.inputs.add_another_parameter.button"}}</button>
    </div>
</div>