<div class="worklet_details_configuration">
    <div class="main_header">Configure Worklet</div>

    <b>Define the Worklet Outputs</b>
    <br>

    <div class="description_instructions">
        Define how the worklet should be run, and what the output should be.
    </div>
    <br>

    <div class="workflow_details">

        <label class="required">Name</label>
        <input type="text" name="fileName" placeholder="Worklet Name" value="{{fileName}}">
        <br>

        <label>{{t 'worklet.new.description'}}</label>
        <textarea name="description">{{description}}</textarea>
        <br>

        <label>Worklet Image</label>
        <div class="image_upload">
            <div class="worklet_image" style="background-image: url('{{avatarUrl}}')"></div>
            <div class="image_instructions">
                The Worklet image provides a visual 
                avatar for the worker. The image must 
                be in PNG, GIF, or JPG format.
                </div>
        </div>
        <div style="clear: both;"></div>

        <br>
        <br>

        <h4>Worklet Run Settings</h4>
        <br>
        <b>Run Workflow As...</b>
        <br>
        <div class="description_instructions">
            Specify the account to use to run the workflow. The run account must have credentials to
            access the source data.
        </div><br>

        {{#each runPersonas}}
            <input type="radio" name="run_persona" id="run_as_{{this.run_persona}}" value="{{this.run_persona}}"{{#if this.selected}} checked{{/if}}>
            <label for="run_as_{{this.run_persona}}">{{this.persona_run_statement}}</label><br>

        {{/each}}

        <!--<input type="radio" name="run_persona" id="run_as_other" value="run_as_other">-->
        <!--<label for="run_as_other">Run as...</label><br>-->

        <br>
        <br>

        <h4>Worklet Output</h4>
        <br>
        <b>Worklet Output to Display</b>
        <br>
        <div class="description_instructions">
            Select which workflow output should be displayed to the end-user.
        </div>

        <div id="workfile_image_container">
            {{#each operators}}
                <a href="#" class="visual_operator">
                    <div id="{{this.id}}" data-index="{{this.index}}" class="image_operator{{#if this.selected}} bordered{{/if}}" style="left: {{this.left}}px; top: {{this.top}}px;"></div>
                </a>
            {{/each}}
            <img class="workfile_image" src="{{workflowImageUrl}}"/>
        </div>
        <br>
        {{#each operators}}
            <input type="checkbox" class="checkbox_operator" id="{{this.id}}_checkbox" data-index="{{this.index}}"{{#if this.selected}} checked{{/if}}> {{this.name}}<br>
        {{/each}}
        <br>

        <!--<hr>-->
        <!--<div class="spinner_div">-->
            <!--<span class='loading_spinner'></span>Updating...-->
        <!--</div>-->
        <!--<div class="row form_controls">-->
            <!--<button type="submit" class="modalish update_details">Update</button>-->
        <!--</div>-->
    </div>
</div>