<div class="header">
    <div class="heading">{{t "worklet.edit.inputs_sidebar.heading"}}</div>
    <div id="worklet_input_reset" class="button reset_inputs" title="{{t 'worklet.run.reset_inputs.button'}}"><span class="fa fa-times"></span></div>
</div>

<div class="worklet_parameters"></div>

{{#if noParameters}}
<!--   TODO fix this to be a shared empty message type -->
    <div class="no_parameters_notice">
        <span class="notice_icon fa fa-lg fa-exclamation-circle"></span>{{t "worklet.edit.inputs_sidebar.empty.message"}}
    </div>
{{/if}}

<div class="row form_controls">
    {{#if editState}}
        <button class="modalish submit run_worklet test_worklet_button">{{t "worklet.workbench.mode.test"}}</button>
    {{/if}}

    {{#if runState}}
        <button class="modalish submit run_worklet run_worklet_button">{{t "worklet.workbench.mode.run"}}</button>
    {{/if}}
</div>

<!-- TODO remove inline css -->
{{#if runState}}
    <div class="row form_controls stop_worklet" style="padding-top: 20px; display: none;">
        <button type="submit" class="submit stop_worklet_button modalish">{{t "worklet.workbench.mode.run_stop_run"}}</button>
    </div>
{{/if}}
