
<div id="workletResults_loading">
    <div id="spinner_container">
        <div id="spinner"></div>
    </div>
    <div id="loading_time_container">
        <p class="loading_title">{{t "general.running" }}</p>

        <p class="loading_time">
            {{t "worklet.running_time_information.label"}} <span id="elapsed_time"></span>
        </p>
    </div>
</div>

<div class="iframe_wrapper">
    <iframe id="testResults_frame"></iframe>
</div>

{{!-- equivalent to closeWindowFormControls partial --}}
<div id="dialog_bottom" class="form_controls">
    
    {{#if runState}}
        <button class="modalish submit run_worklet run_worklet_button">{{t "worklet.workbench.mode.run"}}</button>
        <button class="modalish submit stop_worklet stop_worklet_button">{{t "worklet.workbench.mode.run_stop_run"}}</button>
    {{else}}
        <button type="button" class="cancel modalish">{{t "actions.close_window"}}</button>
    {{/if}}

</div>
