<form class="worklet_new_dialog">
    <div class="girdle">
        <div class="creation_instructions">
            <h2>{{t 'worklet.new.creation_instructions_header'}}</h2>
            {{#if fromExisting}}
                {{t 'worklet.new.creation_instructions_from_workflow'}}
            {{else}}
                {{t 'worklet.new.creation_instructions_new'}}
            {{/if}}
        </div>

        <br>

        <!--Show only if workflow already selected as basis:-->
        {{#if fromExisting}}
            <div class="workflow_details">
                <div class="section_header">{{t 'worklet.new.workflow_details_header'}}</div>

                <!-- TODO: Make pretty, use the workflow details in this.workflow -->
                <span class="image">
                    <img src="/images/workfiles/large/afm.png" alt="{{t 'entity.name.workflow.thing'}}">
                </span>

                <div class="item_information">
                    <div class="item_name">
                        {{workflow.fileName}}
                    </div>
                </div>
            </div>

            <br>
        {{/if}}

        <div class="worklet_details">
            <div class="section_header">{{t 'worklet.new.worklet_details_header'}}</div>
            <label class="required">{{t 'worklet.new.name.label'}}</label>
            <input type="text" name="workletName" placeholder="{{t 'worklet.new.name.placeholder'}}" tabindex="1" maxlength="60"/>

            <br>

            <label>{{t 'worklet.new.description.label'}}</label>
            <textarea name="workletDescription" rows="2" tabindex="2">{{summary}}</textarea>

            <div class="description_instructions">
                {{t 'worklet.new.description_instructions'}}
            </div>
        </div>
        {{> legendRequired}}

    </div>
    <!-- END girdle -->

    {{formControlsWithDisabledSubmit "worklet.new.continue"}}
</form>