<div class="worklet_workflow_configuration">
    <div class="main_header">{{t "worklet.main.configure_worklet_title"}}</div>

    <b>
      {{t "worklet.main.step_workflow_used"}}
    </b>
    <br>

    <div class="description_instructions">
       {{t "worklet.main.step_workflow_used_description"}}
    </div>
    <br>

    <div class="worklet_workflow_details">
        {{t "worklet.main.step_workflow_used_id"}} {{workflow.id}}
    </div>
</div>