<div class="row">
  <div class="col-md-12">
    <div id="breadcrumb">
      <ol class="list_breadcrumb">
        <li>
          <span>Admin</span>
        </li>
      </ol>
    </div>
  </div>
</div>
<!-- Info boxes -->

<div class="row admin-snapshot">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <ul>
      <li>
        <div class="squareish users">
          <div class="total"><%=@users_count %></div>
          <div class="model">Users</div>
          <div class="increment">+3 in last 7 days</div>
        </div>
      </li>
      <li>
        <div class="squareish teams">
          <div class="total"><%=@teams_count %> </div>
          <div class="model">Teams</div>
          <div class="increment">+3 in last 7 days</div>
        </div>
      </li>
      <li>
        <div class="squareish scopes">
          <div class="total"><%=@scopegroups_count %></div>
          <div class="model">Scope Groups</div>
          <div class="increment">+51 in last 7 days</div>
        </div>
      </li>
      <li>
        <div class="squareish data_sources">
          <div class="total"><%=@datasources_count %> </div>
          <div class="model">Data Sources</div>
          <div class="increment">+1 in last 7 days</div>
        </div>
      </li>
      <li>
        <div class="squareish jobs">
          <div class="total"><%=@jobs_count  %></div>
          <div class="model">Jobs</div>
          <div class="increment">+1 in last 7 days</div>
        </div>
      </li>
    </ul>


  </div>
  <div class="col-sm-1"></div>

</div>

<panel>
  <!-- Info boxes -->
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <%= render partial: "user_management" %>
    </div>
    <div class="col-sm-5">
      <%= render partial: "application_administration" %>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <%= render partial: "access_permission_management" %>
    </div>
    <div class="col-sm-5">
      <%= render partial: "application_settings" %>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <%= render partial: "defaults" %>
    </div>
    <div class="col-sm-5">
      <%= render partial: "workflow_settings" %>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <%= render partial: "content_management" %>
    </div>
    <div class="col-sm-5">
    </div>
    <div class="col-sm-1"></div>
  </div>
</panel>