
  <div class="activity_content">


    <div class="activity_header">
      <h1>
        The job "<%= link_to(@job.name, build_backbone_url("/workspaces/#{@workspace.id}/jobs/#{@job.id}")) %>"
        <%= @job_result.succeeded? ? 'succeeded.' : 'failed.' %>
      <h2>
    </div>
    
    <div>
        <table>
          <tbody>
            <tr>
              <td>
                Workspace
              </td>
              <td>
                <%= link_to(@workspace.name, build_backbone_url("/workspaces/#{@workspace.id}")) %>
              </td>
            </tr>
            <tr>
              <td>
                Start Time
              </td>
              <td>
                <%= @job_result.started_at.in_time_zone(@job_time_zone) %>
              </td>
            </tr>
            <tr>
              <td>
                End Time
              </td>
              <td>
                <%= @job_result.finished_at.in_time_zone(@job_time_zone) %>
              </td>
            </tr>
    
          </tbody>
        </table>
    </div>
    

<table class="taskTable">

  <thead>
  <tr>
      <td class="taskIdentifier">
        Task Type
      </td>
      <td class="taskName">
        Task Name
      </td>
        <td class="taskStart">
        Started
      </td>
      <td class="taskFinished">
        Finished
      </td>
      <td class="taskStatus">
        Status
      </td>
  </tr>
  </thead>

  <% @job_task_results.each do |result| -%>
  <tbody>
  <tr>
      <td class="taskIdentifier">
        <%= image_tag attachments.inline[as_png(result.class.name)].url, alt: 'Task', class: 'icon' -%>
      </td>
      <td class="taskName">
        <%= result.name -%>
      </td>
      <td class="taskStart">
        <%= result.started_at.in_time_zone(@job_time_zone) -%>
      </td>
      <td class="taskFinished">
        <%= result.finished_at.in_time_zone(@job_time_zone) -%> 
      </td>
      <td class="taskStatus">
        <% if result.status == 'success' %>
            Completed
        <% else %>
            Failed
        <% end -%> 
      </td>

  </tr>
  </tbody>
 
  <% end -%>
  
</table>

</div>

