<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  
  <%= csrf_meta_tags %>

  <script>
    if (top.frames.length != 0) { top.location = self.document.location; }
  </script>
  
  <title><%= License.instance.branding_title %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application.js" %>

  <link rel="shortcut icon" href="<%= "/images/branding/#{License.instance.branding}-favicon.ico" %>" />
  
<% if License.instance.branding == 'alpine' %>
    <meta name="application-name" content="Alpine Chorus" />
    <link rel="mask-icon" href="<%= "/images/branding/#{License.instance.branding}-pinned-tab.svg" %>" color="#00A0E5" />
    <link rel="apple-touch-icon" sizes="120x120" href="<%= "images/branding/#{License.instance.branding}-touch-icon-120x120.png" %>" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= "images/branding/#{License.instance.branding}-touch-icon-144x144.png" %>" />
    
<% else %>
    <meta name="application-name" content="Chorus" />
<% end %>


  <script>
      var instance = chorus.models.Config.instance();
      instance.set(instance.parse(<%= Presenter.present(ChorusConfig.instance, self).to_json.html_safe %>));
  </script>

  <script>
      $(chorus.initialize);
  </script>
</head>
<body>
<noscript>
  This application requires javascript. Please enable javascript and reload. 
</noscript>
<div id="page"></div>
</body>
</html>