<div id="header"></div>

<div id="about_box">
    {{#if brandingLogo}}
        <img class="logo {{branding}}" src="{{brandingLogo}}"/>
    {{/if}}

    <h1 id="application_title">{{t applicationKey}}</h1>
    <div id="application_version">
        {{t "about.version"}}: <span id="version" class="about_item"></span>{{version}}
    </div>
    
    <div class="about_list">
        <ul class="list_vertical_divided items">
            {{#each items}}
                <li class="{{key}}">
                    <span class="about_label">{{t translationKey}}</span> <span class="about_item">{{value}}</span>
                </li>
            {{/each}}
        </ul>
    </div>
    
    {{#if copyright}}
    <div id="footer">
        <div id="legal" class="{{branding}}">
                <span class="copyright">{{{copyright}}}</span>
        </div>
    </div>
    {{/if}}

</div>