<span class="index">{{index}}.</span>

<span class="image"><img src="{{iconUrl}}"/></span>

<div class="item_information">
    <div class="item_name">
        {{#if url}}
            <span title="{{name}}" class="name">{{name}}</span>
        {{else}}
            <span class="name">{{name}}</span>
        {{/if}}
    </div>

    <div class="item_metadata">
        <span class="action">{{t actionKey}}</span>
    </div>

    {{#if moreThanOneTask}}
    <div class="arrows">
        {{#if firstItem}}
            <img src="/images/jobs/arrow-up-disabled.svg" class="move_up_arrow arrow_disabled" title="{{t 'job_task.arrow.moveup-disabled.tooltip'}}"/>            
        {{else}}
            <img src="/images/jobs/arrow-up.svg" class="move_up_arrow" title="{{t 'job_task.arrow.moveup.tooltip' }}"/>
        {{/if}}

        {{#if lastItem}}
            <img src="/images/jobs/arrow-down-disabled.svg" class="move_down_arrow arrow_disabled" title="{{t 'job_task.arrow.movedown-disabled.tooltip'}}"/>
        {{else}}
            <img src="/images/jobs/arrow-down.svg" class="move_down_arrow" title="{{t 'job_task.arrow.movedown.tooltip'}}"/>
        {{/if}}
    </div>
    {{/if}}
</div>