<div class="warning{{#unless warning}} hidden{{/unless}}">
    {{#if warning}}{{renderErrors warning}}{{/if}}
</div>
{{> errorDiv}}

<div id="login_content">
    <div id="login_card">
        
        <img class="logo {{branding}}" src="{{brandingLogoSrc}}"/>
        <form class="login" action="/auth/login/" method="post">
            <div class="content">
                <div class="form_pair">
                    <label for="username">{{t "login.username"}}</label>
                    <input type="text" name="username" id="username" maxlength="256" autocomplete="off"/>
                </div>
                <div class="form_pair">
                    <label for="password">{{t "login.password"}}</label>
                    <input type="password" name="password" id="password" maxlength="256" autocomplete="off"/>
                </div>
            </div>
            <div class="form_controls">
                <button type="submit" class="modalish">{{t "login.button"}}</button>
            </div>
        </form>
    </div>

    <div id="login_footer">
        <div class="legal {{branding}}">
            <p>
                <span class="copyright">{{{copyright}}}</span>
            </p>
        </div>
    </div>
</div>