<div class="col cols-8">
  <a class="image" href="{{url}}">
    <img src="{{workletImageUrl}}" style="width: 100%;" class="workletImage" alt="worklet"/>
  </a>
  <div>
    <a href="{{url}}">{{id}}: {{name}}</a>
  </div>
</div>