<div class="worklet_header">
    <div class="menus">
        <div class="mode_toggle">
            {{#unless editing}}<a href="#" class="edit_mode">Edit</a>{{else}}Edit{{/unless}}
            |
            {{#if editing}}<a href="#" class="preview_mode">Preview</a>{{else}}Preview{{/if}}
        </div>
    </div>

    <img src="{{iconUrl}}" class="icon"/>

    <div class="item_information">
        <h1 title="{{fileName}}">{{fileName}}</h1>
    </div>
</div>
<br>