<div class="worklet_inputs_configuration">
    <div class="main_header">Configure Worklet</div>

    <b>Build the Worklet Inputs</b>
    <br>

    <div class="description_instructions">
        Create each of the input parameters that will be used to run the Workflow.
    </div>
    <br>

    <div class="workflow_details">
        {{#each workletParams}}
        <div class="worklet_param">
            <div class="section_header">Parameter {{@index}}</div>
            <div class="input_section">
                <b>Workflow Variable</b>
                <select name="variable_name_{{@index}}" class="workflow_variable">
                    {{#each ../workflowVariables}}
                        <option value="{{this.variableName}}" {{selectedIfMatch this.variableName ../this.variableName}}>{{this.variableName}}</option>
                    {{/each}}
                </select>
                <br>

                <input type="checkbox" name="use_default_{{@index}}" value="true"{{#if this.useDefault}} checked{{/if}}> Use Workflow's Existing Value as Default<br>
                <input type="checkbox" name="required_{{@index}}" value="true" {{#if this.required}} checked{{/if}}> Required Field<br>
                <br>

                <b>Field Label</b>
                <input type="text" name="label_{{@index}}" value="{{label}}">
                <br>

                <b>Description</b>
                <textarea name="description_{{@index}}">{{this.description}}</textarea>
                <br>

                <b>Input Data Type</b>
                <select name="data_type_{{@index}}" class="workflow_variable">
                    {{#each ../dataTypes}}
                        <option value="{{this}}" {{selectedIfMatch this ../this.dataType}}>{{this}}</option>
                    {{/each}}
                </select>
                <br>
            </div>
            <div class="row form_controls">
                <button type="submit" class="delete_input_param" data-index="{{@index}}">Delete</button>
                <button type="submit" class="save_input_param" data-index="{{@index}}">Save</button>
            </div>
            <br>
        </div>
        <br><br>
        {{/each}}
        <hr>
        <button class="add_new_parameter">Add Parameter</button>
    </div>
</div>