<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><%= License.instance.branding_title %></title>

<style type="text/css" data-premailer="ignore">

    /* mobile */
    @media only screen and (max-width: 320px) {
        body {
            width: 320px;
        }

        #wrapTable {
            width: 320px;
            /* border: 1px solid #FF8000; */   /* orange. DEVELOPMENT */
        }

        #contentTable {}
    
        #contentHeader h1 {
            font-size: 16px;
        }
        #footerTable {
            width: auto;
            margin-top: 1em;
        }
        
        .taskTable th {
            display: none;
        }
        .taskTable td {
            display: block;
            width: auto;
        }
        .taskTable .taskStatus {
            margin-bottom: 1em;
        }
    
    }

</style>

<style type="text/css">
    body {
        margin: 0;
        padding: 0;

        background-color: #FFFFFF;
        -webkit-font-smoothing: antialiased;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 14px;
        line-height: 18px;
        
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }
    body * {
        color: #222222;
    }
    table {
      border-spacing: 0;
    }
    table, tr, td, th {
        border-collapse: collapse;
    }
    
    tr, td, th {
        vertical-align: top;
        text-align: left;
    }
    td, th {
        padding: 1px 5px 1px 1px;  /* default paddings for cells */
    }

    h1 {
        font-size: 18px;
        line-height: 26px;
        margin: 0;
        padding: 0;
    }
    h2 {
        font-size: 16px;
        line-height: 17px;
        margin-bottom: 5px;
    }
    a {
        color: #00A0E5;
        text-decoration: none;
    }

    img {
        border: none;
        vertical-align: middle;
    }
    ol, ul, ol li, ul li {
        list-style-type: none;
        margin-bottom: 5px;
    }
    ul {
        padding-left: 15px;
        margin-top: 5px;
    }

    /* wraps the whole content and defines overall width */
    #wrapTable {
        width: 800px;  /* define wdth of whole email */
        margin-bottom: 2em;
    }
    #wrapTable > tbody > tr > td {
        padding: 0 20px;  /* layout padding from edges */
    }

    /* header with branding */
    #contentHeaderTable {
        margin-bottom: 25px;
    }

    /* the main content */
    #contentTable {
        width: 100%;

        margin-left: auto;
        margin-right: auto;
        
        background-color: #FFFFFF;
        /* border: 1px solid #DADBDC; */
    }

    #content {
        padding: 0;
        text-align: left;
        color: #333333;
    }
    /* the footer content */
    #footerTable {
        width: 100%;
        margin-top: 2em;
    }
    #footerContent {
        color: #999999;
        font-size: 9pt;
        padding: 10px 0 20px 0;
        text-align: center;
    }
    
    .headerBrand {
        max-width: 320px;
        height: auto;
    }
    
    .icon {
        margin-right: 5px;
        width: 30px;
        height: 30px;
        vertical-align: middle;
    }
    .activity_content .activity_header,
    .activity_content .comment_header 
    {
        word-wrap: break-word;
        font-size: 14px;
        line-height: 18px;
        font-weight: normal;

        padding-bottom: 5px;
    }
    
    #jobOverview {
        margin-bottom: 1em;
    }
    
    #jobTable th {
        width: 100px;
    }
    
    .taskTable {
        width: 100%;
        border-collapse: separate;
        border-spacing: 1px;
    }
    .taskTable th {
        background-color: #EBEBE9;
    }
    .taskTable .taskIdentifier {
        width: 5%;
    }
    .taskTable .taskName {
        width: 40%;
        min-width: 200px;
    }
    .taskTable .taskStart {
        width: 21%;
    }
    .taskTable .taskEnd {
        width: 21%;
    }
    .taskTable .taskStatus {
        width: 8%;
    }
    
  </style>

</head>
<body>


<table id="wrapTable">
  <tbody>
  <tr>
  <td>

      <table id="contentHeaderTable">
        <tbody>
        <tr>
        <td>
            <%= image_tag attachments.inline[as_png('logo')].url, class: 'headerBrand', alt: License.instance.branding_title -%>
        </td>
        </tr>
        </tbody>
      </table>
      
      
      <table id="contentTable">
        <tbody>
        <tr>
        <td id="content">

          <%= yield %>

        </td>
        </tr>
        </tbody>
      </table>

      
      <table id="footerTable">
        <tbody>
        <tr>
            <td id="footerContent">
                You're receiving this email because you have an account on <%= link_to License.instance.branding_title, build_backbone_url("/") %>.
                <br />
                To change your email preferences, <%= link_to 'Edit Your Profile', build_backbone_url("/users/#{@user.id}/edit") %>.
            </td>
        </tr>
        </tbody>
      </table>

  </td>
  </tr>
  </tbody>
</table>


</body>
</html>
