{{#if editing}}
    <div class="title_bar">
        <div class="title_text">
            Parameter
        </div>
        {{> workletInputpanelTaskButtons}}
    </div>
{{/if}}

<div class="content">
    <div class="errors"></div>
    <div class="input_section">
        <label for="{{variableName}}" class="label{{#if required}} required{{/if}}">{{label}}</label>
        <select class="single_select_input" name="{{variableName}}">
            <option value=""></option>
            {{#each options}}
                <option value="{{this.value}}" data-option-label="{{this.option}}">{{this.option}}</option>
            {{/each}}
        </select>
    </div>
    <div class="description">
        {{description}}
    </div>
</div>