<form action="#">
    <div class="girdle">
    
        <div class="form_pair">
            <label class="required" for="milestone-{{name}}">{{t "milestone.dialog.name"}}</label>
            <input class="name" id="milestone-{{name}}" type="text" value="{{name}}" />
        </div>
           
        <div id="target_date_container">
            <div class="form_pair"> 
                <label>{{t "milestone.dialog.target_date"}}</label>
                <div class="target_date_widget">
                    <div class="target_date"></div>
                </div>
            </div>
        </div>

    {{> legendRequired}}

    </div>
    {{!-- END girdle --}}
    
    {{formControlsWithDisabledSubmit submitTranslation}}
</form>